{erl_opts, [
    warn_format,
    warn_export_vars,
    warn_obsolete_guard,
    warn_unused_import,
    {parse_transform, lager_transform}
]}.

{deps, [
    {etorrent_core, {git, "https://github.com/kremlhi/etorrent_core.git", {branch, "kremlhi/otp28-compat"}}}
]}.

{relx, [
    {release, {etorrent, "0.1.0"}, [etorrent_core, sasl, tools]},
    {sys_config, "./config/sys.config"},
    {vm_args,    "./config/vm.args"},
    {mode, dev}
]}.

{profiles, [
    {test, [
        {deps, [{meck, "0.9.2"}, {proper, "1.4.0"}]},
        {erl_opts, [nowarn_export_all]},
        %% dist_node tells rebar_dist_utils to start this Erlang node as a
        %% distributed node (short name) before launching Common Test.
        %% Without distribution, test_server:start_node/3 raises {not_alive}.
        {dist_node, [{sname, ct_etorrent}]},
        {ct_opts, [{config, ["etorrent_test.cfg"]}]}
    ]}
]}.

