[
  {etorrent_core, [
    {port,               49000},
    {udp_port,           49001},
    {dht,                true},
    {dht_port,           49002},
    {dht_state,          "/tmp/etorrent/spool/dht.state.bin"},
    {azdht,              false},
    {pex,                false},
    {use_upnp,           false},
    {dir,                "/tmp/etorrent/torrents"},
    {download_dir,       "/tmp/etorrent/downloads"},
    {dirwatch_interval,  20},
    {logger_dir,         "/tmp/etorrent/log"},
    {logger_fname,       "etorrent.log"},
    {fast_resume_file,   "/tmp/etorrent/spool/fast_resume.dets"},
    {max_peers,          200},
    {max_download_rate,  1200},
    {max_upload_rate,    1200},
    {max_upload_slots,   auto},
    {fs_watermark_high,  128},
    {fs_watermark_low,   100},
    {min_uploads,        2},
    {preallocation_strategy, sparse},
    {webui,              false},
    {webui_port,         8080},
    {webui_bind_address, {127,0,0,1}},
    {profiling,          false}
  ]},
  {lager, [
    {handlers, [
      {lager_console_backend, [{level, notice}]},
      {lager_file_backend, [{file, "/tmp/etorrent/log/etorrent.log"},
                             {level, info}]}
    ]}
  ]},
  {sasl, [
    {sasl_error_logger, {file, "/tmp/etorrent/log/sasl.log"}},
    {errlog_type, error}
  ]}
].
